In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
import nltk
from tqdm import tqdm
from sklearn.metrics.pairwise import cosine_similarity
from wordcloud import WordCloud
from collections import Counter
from nltk.tokenize import TreebankWordTokenizer
plt.style.use('fivethirtyeight')
sns.set()
plt.rcParams['figure.figsize'] = (12,12)

In [2]:
GRAPH = '../Results/Graphs'
TABLE = '..Results/Tables'
DATA = '../data'
VERSION = 4  #1: Merged All 2:Cleaned
os.listdir(DATA)

['Dataset_v3.csv',
 'Dataset_v2.csv',
 'Jobs (2016-2018).xlsx',
 'ONET_Occupations.csv',
 'vector.npy',
 'Information_Technology.csv',
 'Dataset_v1.csv',
 'Jobs (2019-2021) - Bdjobs.xlsx',
 'skills.csv',
 'Dataset_v4.csv',
 'ISCO.csv',
 'Skill_Rank.csv']

In [6]:
df = pd.read_csv(os.path.join(DATA,'Dataset_v'+str(VERSION) + '.csv'))
# ONET = pd.read_csv(os.path.join(DATA,'ONET_Occupations.csv'))
ONET = pd.read_csv(os.path.join(DATA,'Information_Technology.csv'))
skills = pd.read_csv(os.path.join(DATA,'skills.csv'))

In [7]:
skill_corr_df = pd.DataFrame(index = df.index,columns=skills['Skills'].tolist()).fillna(0)

In [10]:
for i , context in enumerate((df['Job_Responsibility'] + df['Job_Context']).values):
    tokens = TreebankWordTokenizer().tokenize(str(context).lower())
    for skill in skills['Skills'].tolist():
        if str(skill).lower() in tokens:
            skill_corr_df.loc[i,skill] += 1

In [12]:
years = list(range(2016,2022))
for year in tqdm(years):
    temp_df = df[df['Year'] == year]
    for i,context in enumerate((temp_df['Job_Responsibility'] + temp_df['Job_Context']).values):
#             if str(skill).lower() in str(context).lower():
            if str('SQL Server').lower() in str(context).lower():
                skill_corr_df.loc[i,'SQL Server'] += 1
            if str('object oriented').lower() in str(context).lower():
                 skill_corr_df.loc[i,'OOP'] += 1
            if str('search engine').lower() in str(context).lower():
                 skill_corr_df.loc[i,'SEO'] += 1
            if str('C#').lower() in str(context).lower():
                 skill_corr_df.loc[i,'C#'] += 1

100%|██████████| 6/6 [00:00<00:00, 12.25it/s]

In [13]:

skill_corr_df.loc[:,'SQL'] -= skill_corr_df.loc[:,'SQL Server']
skill_corr_df.loc[:,'HTML'] += skill_corr_df.loc[:,'HTML5']
skill_corr_df.loc[:,'CSS'] += skill_corr_df.loc[:,'CSS3']
skill_corr_df.loc[:,'JavaScript'] += skill_corr_df.loc[:,'JS']
skill_corr_df.drop(['HTML5','CSS3','JS'],inplace=True,axis=1)

In [14]:
skill_corr_df[skill_corr_df < 0] = 0
skill_corr_df[skill_corr_df > 0] = 1

In [15]:
skill_corr_df

,PHP,Database,SQL,JavaScript,SEO,Android,CSS,Oracle,HTML,MySQL,...,Python,C#,ERP,Git,React,AWS,MVC,Windows,API,Marketing
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,1,1,1,0,...,0,1,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28311,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28313,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28314,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
skill_corr_df['Year'] = df['Year']