<h1> Import All Necessary Package </h1>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os

plt.style.use('fivethirtyeight')
sns.set()
plt.rcParams['figure.figsize'] = (12,12)

In [2]:
GRAPH = 'Results/Graphs'
TABLE = 'Results/Tables'
DATA = '../data'
VERSION = 1
os.listdir(DATA)

['Dataset_v3.csv',
 '.~lock.skills.csv#',
 'Dataset_v2.csv',
 '.~lock.Information_Technology.csv#',
 'Jobs (2016-2018).xlsx',
 'ONET_Occupations.csv',
 '.~lock.CSE_Courses_BD.xlsx#',
 '[TorrentBD]Demon Slayer AKA Kimetsu no Yaiba - Mugen Ressha-hen S02E02 1080p WEBRip AAC 2 0  x265-JONGi.torrent',
 '[TorrentBD]Demon Slayer AKA Kimetsu no Yaiba - Mugen Ressha-hen S02E02 1080p WEBRip AAC 2 0  x265-JONGi (1).torrent',
 'vector.npy',
 'Information_Technology.csv',
 'Dataset_v1.csv',
 '[TorrentBD]Demon Slayer aka Kimetsu no Yaiba - Mugen Train Arc (2021) S02E02 720p WEB-DL x264 - SubsPlease.torrent',
 'Jobs (2019-2021) - Bdjobs.xlsx',
 'CSE_Courses_BD.xlsx',
 'skills.csv',
 'Dataset_v5.csv',
 'Dataset_v4.csv',
 'ISCO.csv',
 'Skill_Rank.csv']

In [3]:
#Reading 2016 to 2018 dataset
df1 = pd.concat(pd.read_excel(os.path.join(DATA,'Jobs (2016-2018).xlsx'),sheet_name=[1,2,3],keep_default_na=True),ignore_index=True)
#Reading 2019 to 2021 dataset
df2 = pd.concat(pd.read_excel(os.path.join(DATA,'Jobs (2019-2021) - Bdjobs.xlsx'),sheet_name=[1,2,3],keep_default_na=True),ignore_index=True)

In [4]:
#Merging Both dataset
df = pd.concat([df1,df2])
df.shape

(28317, 21)

In [5]:
df

,JobTitle,Name,PublishDate,IndustryName,Cat_Name,TotalVacancy,number_applicants,JobType,JobLevel,Country,...,DegreeName,Subject,MinExp,MaxExp,MinAge,MaxAge,MaleGender,FemaleGender,Job_Context,Job_Responsibility
0,Software Engineer (PHP/ MySQL),Spring Rain Information Technologies,2018-01-01 10:48:00,Information Technology (IT),IT/Telecommunication,5,212,FullTime,Entry,Bangladesh,...,NaN,NaN,2.0,3.0,NaN,NaN,1,1,NaN,Have to work at NIGHT SHIFT. It will be roaste...
1,Software Developer,PC Link IT Palli,2018-01-01 12:14:00,Information Technology (IT),IT/Telecommunication,5,89,FullTime,Mid,Bangladesh,...,NaN,NaN,2.0,NaN,NaN,NaN,1,1,"Excellent working knowledge in C#, Asp.net MVC...","Good understanding of OO Programming, OOAD con..."
2,"Deputy General Manager, Information Technology",Envoy Textiles Limited,2018-01-01 13:08:00,Garments/ Textile,IT/Telecommunication,1,560,FullTime,Top,Bangladesh,...,NaN,NaN,6.0,NaN,NaN,NaN,1,1,NaN,Leading the IT Division as Division Head & Con...
3,"Deputy Manager, Information technology",Envoy Textiles Limited,2018-01-01 13:08:00,Garments/ Textile,IT/Telecommunication,1,410,FullTime,Mid,Bangladesh,...,NaN,NaN,4.0,5.0,NaN,NaN,1,1,NaN,"Provide Hardware, Software & ERP Related suppo..."
4,System Engineer/ Senior System Engineer - Core...,aamra group,2018-01-01 14:03:00,Information Technology (IT),IT/Telecommunication,1,473,FullTime,Entry,Bangladesh,...,NaN,NaN,3.0,5.0,24.0,30.0,1,1,NaN,Expert with Cisco network administration - CCN...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12675,Experienced Data Scientist,Encode Ltd.,2021-06-30 19:14:00,Information Technology (IT),IT/Telecommunication,NaN,102,FullTime,"Entry, Mid",Bangladesh,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,We are looking for an experienced data scienti...
12676,.Net Developer,Encode Ltd.,2021-06-30 19:14:00,Information Technology (IT),IT/Telecommunication,NaN,147,FullTime,"Entry, Mid",Bangladesh,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,We are seeking a .Net Developer to join our te...
12677,Microsoft Power Platform Developer,eGeneration Limited,2021-06-30 20:36:00,Information Technology (IT),IT/Telecommunication,NaN,34,FullTime,Mid,Bangladesh,...,Bachelor of Science (BSc),"Computer Science, Information Technology Engin...",3.0,5.0,NaN,NaN,0,0,The purpose of the Power Platform Developer po...,Works directly with clients to support various...
12678,Microsoft SharePoint Developer,eGeneration Limited,2021-06-30 21:00:00,Information Technology (IT),IT/Telecommunication,NaN,24,FullTime,Mid,Bangladesh,...,Bachelor of Science (BSc),"Computer Science, Information Technology Engin...",3.0,5.0,NaN,NaN,0,0,NaN,Develops Web look Intranet Portal Collaboratio...
12679,Software Engineer (Android),Sheba Technologies Limited,2021-06-30 21:37:00,Information Technology (IT),IT/Telecommunication,NaN,37,FullTime,Entry,Bangladesh,...,Bachelor of Science (BSc),Computer Science or CSE,3.0,5.0,24.0,32.0,1,1,NaN,Design and develop advanced applications for t...

In [6]:
df.to_csv(os.path.join(DATA,'Dataset_v1.csv'),index=False)

<h1>Preprocessing Starts</h1>

In [4]:
df = pd.read_csv(os.path.join(DATA,'Dataset_v'+str(VERSION) + '.csv'))

In [5]:
import qgrid
qgrid_widget = qgrid.show_grid(df,show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

<h1>Process Date</h1>

In [8]:
df['Year'] = pd.to_datetime(df['PublishDate']).dt.year
#If you need Quater
# df['Quarter'] = pd.to_datetime(df['PublishDate']).dt.to_period('Q')

<h1> Process Total Vacancy </h1>

In [9]:
df['TotalVacancy'] = df['TotalVacancy'].fillna(0)  # Remove NA
df['TotalVacancy'] = df['TotalVacancy'].replace({
        '1.0':1, '2.0':2,
        '2019-02-03 00:00:00':0,'2019-06-08 00:00:00':0,
        '2019-10-15 00:00:00':0,
       '&#2534;&#2537;':0, '1+':1,
       '2019-02-05 00:00:00':0,
       '2019-05-08 00:00:00':0, '01 (One)':0, 'Any':0,
       '04 (Females can apply)':4, '02 (Female will get advantage)':2,
       'Confidential':0, '2019-08-10 00:00:00':0, '40-50':45, '5+':5,
       '15 person clipping expert man urgent':15, '02+02':4, '30+':30,
        '8 (Contractual)':8, '30-50':40,
       'Based on requirement.':0,
       'Two (02)':2, '2019-07-08 00:00:00':0,
       'Asst. Manager I.T /  System Administrator ':0,
       '2019-02-04 00:00:00':0, 'Senior (5),Mid Level+Junior(12)':17,
       '10 (Chittagong, Sylhet, Comilla, Mymensing & Khuln':10,
       '2019-06-07 00:00:00':0, '06 (Females can apply)':6, '03 (Three)':3,
       '15  (Fresher-10, Others-5)':15, '2019-01-02 00:00:00':0,
        '2019-04-05 00:00:00':0, '2019-03-04 00:00:00':0, 'Multiple':0,
        '&#2534;&#2535;':0, '2019-03-05 00:00:00':0,
       '2019-05-07 00:00:00':0,'1 (One)':1, 
       '2019-05-06 00:00:00':0, '3 (Three)':3,
     })

df['TotalVacancy'] = df['TotalVacancy'].astype(float)  #Need to convert string to float first
df['TotalVacancy'] = df['TotalVacancy'].astype(int)

In [10]:
df['TotalVacancy'].value_counts(dropna=False)

1      8141
0      7371
2      6377
3      2323
5      1462
4      1119
10      568
6       244
8       120
20      118
15      114
7        79
30       47
12       44
25       33
40       31
50       30
100      22
9         8
11        5
18        5
45        4
200       4
16        4
13        3
14        3
75        3
22        3
35        3
500       3
17        2
120       2
21        2
26        2
80        2
150       2
128       2
60        2
47        1
32        1
64        1
24        1
130       1
27        1
83        1
36        1
501       1
175       1
Name: TotalVacancy, dtype: int64

<h1>Process Number of Applicants</h1>

In [11]:
df['number_applicants'] = df['number_applicants'].astype(int)

<h1>Process Job Level and Type</h1>

In [12]:
df['JobLevel'] = df['JobLevel'].replace({'Entry, Mid':'Entry','Mid, Top':'Mid',
                                        'Entry, Mid, Top':'Entry','Entry, Top':'Entry'})

In [13]:
df['JobLevel'].value_counts()

Mid      14428
Entry    12854
Top       1035
Name: JobLevel, dtype: int64

In [14]:
df['JobType'].replace(to_replace='([a-zA-Z]+),.*',value=r'\1',regex=True,inplace=True) #Keep only the first Entry

In [15]:
df['JobType'].value_counts()

FullTime     27061
Contract       943
PartTime       163
Intern         138
Freelance       11
Name: JobType, dtype: int64

<h1>Done</h1>

In [142]:
df.to_csv(os.path.join(DATA,'Dataset_v2.csv'),index=False)